<a href="https://colab.research.google.com/github/caiyin0211/chaeeun-park/blob/master/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1번
다음 변수 a, 변수 b, 변수 c의 자료형을 출력하세요.

In [2]:
# 주어진 변수(a, b, c) 직접 수정불가
a = 'str'
b = 123
c = True


print(type(a),type(b),type(c))

<class 'str'> <class 'int'> <class 'bool'>

2번
다음 변수 num_list에 있는 요소를 모두 더한 값을 for문을 활용하여 변수 answer에 저장하고 그 값을 출력하세요.

In [3]:
# 주어진 변수(num_list) 직접 수정 불가
# for문을 사용 하지 않은 경우 오답처리
num_list = [1,2,3,4,5,6,7,8,9]
answer = 0

for i in num_list:
      answer+=i
print(answer)

45

3번
다음 변수 date를 슬라이스해서 year(년), month(월), day(일)를 각각 출력하세요. (출력 : 2020 05 11)

In [4]:
# 주어진 변수(date)만 직접 수정불가, 다른 year, month, day 변수는 직접 수정가능
# 슬라이스를 사용 안 할 경우 오답처리
date = '20200511'

year = None
month = None
day = None

year=date[0:4]
month=date[4:6]
day=date[6:9]
print(year,month,day)

2020 05 11

4번 
다음 변수 summary에 1 부터 100까지 모두 더한 값을 저장하여 출력하세요.

In [5]:
# 주어진 변수(summary) 직접 수정불가
summary = 0

for i in range(100):
  summary+=i

print(summary)

4950

5번
다음 변수 hangul의 문자열을 거꾸로 출력하세요. (출력:‘사바마라다나가’)

In [6]:
# 주어진 변수(hangul) 직접 수정불가
hangul = '가나다라마바사'

print(hangul[::-1])

사바마라다나가

6번
다음 변수 num에는 공백으로 구분된 4개의 점수가 들어 있습니다. 평균을 구해서 출력하세요.

In [7]:
# 주어진 변수(num) 직접 수정불가
num = "70 50 90 70"

ns=[int(x) for x in num.split()]
s=sum(ns)
a=s/len(ns)
print(a)

70.0

7번
다음 변수 n에 입력한 값이 짝수 일 경우 ‘짝수’를, 짝수가 아닐 경우 ‘짝수가 아닙니다’를 판별하여 출력하세요. (출력: 짝수 or 짝수가 아닙니다)

In [8]:
# 주어진 변수(n) 직접 수정불가
n = int(input('숫자를 입력해주세요'))

if n % 2==0:
  print('짝수')
else:
  print('짝수가 아닙니다')

숫자를 입력해주세요2
짝수

8번
사각형의 대각선의 길이를 구하는 공식은 밑변의 제곱 + 높이의 제곱 = 대각선의 제곱이다.

다음 변수 list_08에는 하나의 직사각형의 밑변과 높이가 저장되어 있습니다.

각각 밑변이 3이고 높이가 4일 때, 직사각형의 대각선의 제곱의 길이를 출력하세요.

In [9]:
# 주어진 변수(list_08) 직접 수정불가
list_08 = [3, 4]

w,h=list_08
d2=w*w+h*h
print(d2)

25

9번
입력받은 숫자가 소수인지 아닌지 출력하는 프로그램을 작성 해 주세요. (출력 : 소수 or 소수가 아닙니다)

In [10]:
# 주어진 변수(num_10) 직접 수정불가
# 함수(prime_number) 직접 수정가능
num_10 = int(input('숫자를 입력해주세요'))

def prime_number(n):
  b=0
  for i in range(2,n):
    if n%i==0:
      b=1
  if b ==0:
    print("소수입니다")
  else:
    print("소수가아닙니다")
  
prime_number(13)

숫자를 입력해주세요13
소수입니다

10번
다음 공식은 Hypothesis를 구하는 공식입니다. 다음과 같이 값이 주어졌을때 h(x)의 값을 구하시오.

W = 3
x = 10
b = 1

###답 :31

11번
다음 공식은 Cost를 구하는 공식입니다. 다음과 같이 값이 주어졌을때 cost의 값을 구하세요.

W = 2
x = [2, 4, 8]
y = [5, 12, 21]
(tip: x1=2, y1=5 / x2=4, y2=12 / x3=8, y3=21)


###답: 14

12번
다음 공식은 로지스틱 시그모이드 함수입니다. x가 양의 무한대로 갈때 f(x)가 수렴하는 값을 구하세요.

###답: 1