<a href="https://colab.research.google.com/github/caiyin0211/chaeeun-park/blob/master/3%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1번 문제
###답: 1.6

### 2번 문제

In [0]:
import numpy as np
np.random.seed(123)
X = np.random.random_sample([5,3])*10

In [9]:
import pandas as pd
variables = ['X','Y','Z']
labels = ['ID_0','ID_1','ID_2','ID_3','ID_4']
df = pd.DataFrame(X, columns=variables,index=labels)
df

             X         Y         Z
ID_0  6.964692  2.861393  2.268515
ID_1  5.513148  7.194690  4.231065
ID_2  9.807642  6.848297  4.809319
ID_3  3.921175  3.431780  7.290497
ID_4  4.385722  0.596779  3.980443

In [0]:
from scipy.spatial.distance import pdist, squareform

In [11]:
Y = pdist(df)
Y

array([4.973534  , 5.51665266, 5.89988504, 3.83539555, 4.34707339,
       5.10431109, 6.69823298, 7.24426159, 8.31659367, 4.382864  ])

In [0]:
row_dist = pd.DataFrame(squareform(pdist(df,metric='euclidean')), columns = labels, index=lables)

In [0]:
from scipy.cluster.hierarchy import linkage

In [0]:
row_clusters = linkage(pdist(df,metric='euclidean'), method='complete')

In [22]:
pd.DataFrame(row_clusters, columns=['row label 1', 'row label 2','distance', 'no. of items in clust.'],
             index=['cluster %d' %(i+1) for i in range(row_clusters.shape[0])])

           row label 1  row label 2  distance  no. of items in clust.
cluster 1          0.0          4.0  3.835396                     2.0
cluster 2          1.0          2.0  4.347073                     2.0
cluster 3          3.0          5.0  5.899885                     3.0
cluster 4          6.0          7.0  8.316594                     5.0

###3번 문제

In [0]:
x = [1, 2, 3]
y = [2, 4, 6]

In [0]:
# W(가중치) 데이터 타입 -> int or float
# x(학습 데이터) 데이터 타입 -> list
# y(정답 데이터) 데이터 타입 -> list
# cost_func 함수 리턴값 타입 -> float
# cost_func 함수 리턴값 = cost 값
# W:가중치, x:학습 데이터 y:정답 데이터

def cost_func(W, x, y):
  pass

In [0]:
for feed_W in range(-5, 6, 1):
  curr_cost = cost_func(feed_W, x, y)
  print("{:6.3f} | {:10.5f}".format(feed_W, curr_cost))